body {
    overflow-y: scroll;
}
.page-content {
    background-image: url("/Earth.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 70px);
}

.page {
    min-height : calc(100vh - 70px);
}

@media (max-width: 768px) {
    .page-content {
        min-height: calc(100vh - 60px);
    }
    .page {
        padding: 0px 8px 15px 4px;
        min-height: calc(100vh - 60px);
    }
}