.articles-description {
    margin-top: -10px;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

.section-title {
    display: inline-block;
    font-size: 22px;
    font-family: "Georgia" , serif;
    background: #d8b4fe;
    color: black;
    padding: 8px 18px;
    border-radius: 8px;
    margin-top: 5px;
}

.games-navigation {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 40px;
}

.page-button {
    background: #8b1e3f;
    color: white;
    border: 1px solid #a63d5a;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s;
}

.page-button:hover:not(:disabled) {
    background: #701730;
}

.page-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

@media(max-width: 768px) {
    .articles-description {
        margin-top: -10px;
        font-size: 17px;
        line-height: 1.5;
    }

     .section-title {
        font-size: 20px;
        padding: 6px 14px;
    }
    .games-navigation {
        gap: 10px;
        margin-top: 25px;
    }
    .page-button {
        width: 95px;
        font-size: 12px;
        padding: 7px 0;
    }
}