
.section-title1 {
    display: inline-block;
    font-size: 22px;
    font-family: "Georgia" , serif;
    background: #d8b4fe;
    color: #08060d;
    padding: 8px 18px;
    border-radius: 8px;
}

.game-description1 {
    font-size: 18px;
    font-family: "Segoe UI" , sans-serif;
    line-height: 1.8;
    color: white;
    max-width: 900px;
}


@media (max-width: 768px) {
.section-title1 {
        font-size: 20px;
        padding: 6px 14px;
    }
.game-description1 {
        font-size: 17px;
        line-height: 1.6;
    }
}