.section-title1 {
  display: inline-block;
  font-size: 28px;
  font-family: "Georgia" , serif;
  background: #c19a6b;
  color: #08060d;
  padding: 8px 18px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.game-description1 {
    font-size: 18px;
    font-family: "Segoe UI" , sans-serif;
    line-height: 1.8;
    color: white;
    max-width: 900px;
    margin-top: 10px;
}

.books-button {
    background-color: #0e172c;
    color: white;
    font-size: 15px;
    font-family: "Segoe UI", sans-serif;
    padding: 12px 25px;
    border: 1px solid #64748b;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.books-button:hover {
    background-color: #1e293b;
    border-color: #38bdf8;
}

.page12 .games-navigation {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: -200px;
}

.page-button {
    background: #8b1e3f;
    color:white;
    border: 1px solid #a63d5a;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s;
}

.page-button:hover:not(:disabled) {
    background: #701730;
}

.page-button:disabled {
    background: #8b1e3f;
    opacity: 0.4;
    cursor: not-allowed;
}

@media (max-width: 768px) {

.section-title1 {
        font-size: 18px !important;
        line-height: 1.2;
        padding: 4px 10px;
        margin-top: 5px;
    }

.game-description1 {
        font-size: 17px;
        line-height: 1.6;
        margin-top: 10px;
    }

.books-button {
    width: 82%;
    max-width: 230px;
    font-size: 12px;
    padding: 9px 14px;
}

 .game-title {
        font-size: 24px;
        padding: 6px 14px;
        margin-bottom: -5px;
    }
    .game-description , .about pre {
        font-size: 17px;
        line-height: 1.6;
    }

.page12 .games-navigation {
    gap: 10px;
    margin-top: -100px;
    justify-content: flex-start;
}

.page-button {
    width: 95px;
    font-size: 12px;
    padding: 7px 0;
 }
}

@media (max-width: 900px) and (min-width: 769px) {

    .section-title1 {
        font-size: 25px;
        padding: 7px 16px;
    }

    .game-description1 {
        font-size: 17px;
        line-height: 1.75;
        max-width: 850px;
    }

    .books-button {
        font-size: 14px;
        padding: 11px 22px;
    }

    .games-navigation {
        margin-top: 35px;
    }

    .page-button {
        padding: 8px 18px;
        font-size: 13px;
    }

}



