nav {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1f2937;
}

nav h2 {
    color:white;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin:0;
    padding:0;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background-color: #111827;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    margin: 15px;
}

.sound-btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.sound-btn.unmuted {
    background-color: #16a34a;
    color:white;
}

.sound-btn.muted {
    background-color: #dc2626;
    color:white;
}

.language-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: #2563eb;
    color:white;
    display: block;
}

.language-btn:hover {
    background-color: #1d4ed8;
}

.language-container {
    position: relative;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.language-menu {
    position: absolute;
    top: 0;
    left: 105%;
    display: flex;
    flex-direction: column;
    background: #1f2937;
    border: 1px solid #475569;
    border-radius: 8px;
    overflow: hidden;
    min-width: 170px;
}

.language-menu button {
    background: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.language-menu button:hover {
    background: #334155;
}




